<div class="card w-full bg-base-100 shadow mt-2">
  <div class="card-body">
    <%= form_with(model: [page, element]) do |form| %>
      <%= form.hidden_field :element_type, value: 'link' %>
      <div>
        <%= form.label :title, class: "label" %>
        <%= form.text_field :title, class: "input input-bordered w-full max-w-xs", placeholder: "Enter title"  %>
      </div>
      <div>
        <%= form.label :url, class: "label" %>
        <%= form.text_field :url, class: "input input-bordered w-full max-w-xs", placeholder: "Enter URL" %>
      </div>
      <div class="card-actions justify-end">
        <%= link_to "Cancel", edit_page_path(page), class: "btn btn-outline mr-2" %>
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
